/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

/* definisco la struttura del container */
.container{
    width: 75%;
    background-color: #ccc;
    margin: 0 auto;
    text-align: center;
}

.product{
    width: calc(100% / 3 - 30px); 
    display: inline-block;
}

/* proprietà base per ogni card */
.card {
    background-color: rgb(46, 48, 49);
    margin: 10px;
    height: 650px;
    position: relative;
}

/* larghezza e posizione dell'immagine card */
.card-img{
    width: 100%;
    height: 100%; 
    left: 0;
}

.p-absolute{
    position: absolute;
}

/* proprietà del like element */
.heart{
    width: 50px;
    height: 50px;
    color: black;
    background-color: white;
    font-size: 2em;
    padding: 8px;
    top: 20px;
    right: 0;
    line-height: 34px;
    z-index: 2;
}

/* proprietà comuni per i box discount & extra */
.com-item{
    color: white;
    padding: 4px;
    font-size: 14px;
    bottom: 20px;
    z-index: 2;
}

/* backgrount e posizione discount */
.discount{
    background-color: #EB0037;
    left: 0;
}

/* backgrount e posizione extra */
.extra{background-color: #00875A;}
.extra-pos-1{left: 45px;}
.extra-pos-2{left: 0;}

/* regole comuni descrizione articolo */
.card-description{
    margin: 0 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: .9em;
}

/* decorazione prezzo articolo */
span.price{
    color: #EB0037;
    font-weight: bold;
}

/* decorazione al vecchio prezzo dell'articolo */
span.old-price{
    text-decoration: line-through;
}

/* regole per cambiare immagini di sfondo */
.card-img:hover{
    width:100%;
    height:100%;
}
.card-img-1:hover{content: url('../img/1b.webp');}
.card-img-2:hover{content: url('../img/2b.webp');}
.card-img-3:hover{content: url('../img/3b.webp');}
.card-img-4:hover{content: url('../img/4b.webp');} 
.card-img-5:hover{content: url('../img/5b.webp');} 
.card-img-6:hover{content: url('../img/6b.webp');} 